.navbar_component {
  padding: 5px;
  min-height: 50px;
}

.well-btn {
  border-radius: 0;
}

.sub_chart--container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.sub_chart {
  width: 33%;
  height: 100px;
}